<div class="container submenu-area">
    <br />
    <ul class="nav nav-pills">
        <li role="presentation" class="active-pill"><a href="#">Manage Customers</a></li>
        <li role="presentation"><a href="#">New Customer</a></li>
        <li role="presentation"><a href="#">Details</a></li>
        <li role="presentation"><a href="#">Orders</a></li>
        <li role="presentation"><a href="#">Appointments</a></li>
        <li role="presentation"><a href="#">Memberships</a></li>
        <li role="presentation"><a href="#">CRM</a></li>
        <li role="presentation"><a href="#">Documents</a></li>
    </ul>
    <br />
</div>
