<div class="container submenu-area">
    <br />
    <ul class="nav nav-pills">
        <li role="presentation" class="active-pill"><a href="#">Calendar</a></li>
        <li role="presentation"><a href="#">New Appointment</a></li>
        <li role="presentation"><a href="#">All Locations</a></li>
    </ul>
    <br />
</div>
