
<div class="container submenu-area">
    <br />

    <div class="row">
        <div class="col-lg-7">
            <div class="input-group pull-right" style="width:300px">
                <input type="text" class="form-control" placeholder="Search Appointments...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div><!-- /input-group -->
        </div>
    </div><!-- row -->

    <br />

    </div>
