@{
    ViewBag.Title = "Business Setup";
}

@Html.Partial("_MainMenu", "BusinessSetup")
@Html.Partial("_MainSubMenuBusinessSetup", "Summary")

<h4>Business Setup</h4>
<br />

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Business Setup > menu and views</h3>
    </div>
    <div class="panel-body">
        <p>
            <pre>

                <b>Business setup</b><br />
			        Branches:
				        default: Branch list => Add Branch (get branch activation code) | Details | Remove
					        Details: Employees | Package & Treatment Rates | System Users | Taxes
						        Employee: Add | Details | Delete
						        Package & Treatment Rates: Assign Rates | Assign Taxes
                 				        System Users: Add | Details | Delete
                                                        Taxes: All Taxes => Details | Add | Remove
						
			        
			
			        Package & Treatment:
				        default: List of all Packages + Treatments + Mappings | All CRUD operations


            </pre>
        </p>
    </div>
</div>
