
@{
    ViewBag.Title = "Index";
}

<h4>Welcome to your Dashboard</h4>

<hr/>
<br/><br />

<p><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;@Html.ActionLink("User Master", "Index", "User")</p>

<br /><br />

<p><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>&nbsp;@Html.ActionLink("Role Master", "Index", "Role")</p>

<br /><br />

