@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
}

<h4>Welcome to your Dashboard</h4>

<hr />
<br />

@{
    if (User.IsInRole("SysAdmin"))
    {
        <p><code>This text is only displayed, if Logged in user is a "SysAdmin"</code></p><br/>
    }
}

<p><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;@Html.ActionLink("User Master", "Index", "User")</p>
<br /><br />

<p><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>&nbsp;@Html.ActionLink("Role Master", "Index", "Role")</p>
<br /><br />

@{
    if (User.IsInRole("CompanyAdmin"))
    {
        <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;@Html.ActionLink("Company Master", "List", "Company")</p>
        <br /><br />
        
    }
}

<p><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>&nbsp;@Html.ActionLink("Manage Appointments", "Index", "Calendar")</p>
<br /><br />


